.TaskFilter {
  width: 600px;
  margin-top: 50px;

  &__wrapper {
    display: flex;
    gap: 15px;

    & input {
      position: absolute;
      width: 0;
      height: 0;
      -webkit-appearance: none;
      appearance: none;

      &:checked + label {
        // background-color: #9bcfff;
        border-color: rgba(1, 1, 1, 1);
        box-shadow: 0px 0px 0px 0px rgba(1, 1, 1, 0.2);
      }
    }
  }

  &__item {
    flex: 1 1 calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px 0;

    border: 1px solid rgba(1, 1, 1, 0.2);
    border-radius: 7px;
    box-shadow: 0px 3px 8px 3px rgba(1, 1, 1, 0.2);
    cursor: pointer;
    transition: all 0.3s ease 0s;

    font-size: 2rem;

    &:hover {
      // background-color: #ccc;
      border-color: rgba(1, 1, 1, 1);
    }

    &:active {
      box-shadow: 0px 0px 0px 0px rgba(1, 1, 1, 0.2);
    }
  }
}