.TaskFilter {
  width: 600px;
  margin-top: 30px;

  &__wrapper {
    display: flex;
    gap: 5px;

    & input {
      position: absolute;
      width: 0;
      height: 0;
      -webkit-appearance: none;
      appearance: none;

      &:checked + label {
        background-color: #f0f0f0;
      }
    }
  }

  &__item {
    flex: 1 1 calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px 0;

    border: 1px solid #000;
    cursor: pointer;

    font-size: 2rem;

    &:hover {
      background-color: #ccc;
    }
  }
}